<div class="container">
    <form class="" [formGroup]=form (ngSubmit)="save($event)">
        <div class="">
            <label class="label">Primer nombre:</label>
            <div class="">
                <input type="text" formControlName="name" id="name" placeholder="John">
            </div>
            <div *ngIf="form.get('name')?.errors && form.get('name')?.dirty" class="col-12">
                <small *ngIf="form.get('name')?.hasError('required')">Este campo es requerido</small>
                <small *ngIf="form.get('name')?.hasError('pattern')">Solo se permiten letras sin espacios en este campo
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Primer Apellido
                <input type="text" formControlName="lastName" id="lastName" placeholder="Doe">                
            </div>            
            <div *ngIf="form.get('lastName')?.errors && form.get('lastName')?.dirty" class="col-12">
                <small *ngIf="form.get('lastName')?.hasError('required')">Este campo es requerido</small>
                <small *ngIf="form.get('lastName')?.hasError('pattern')">Solo se permiten letras sin espacios en este
                    campo </small>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Cédula
                <input type="number" formControlName="cedula" id="cedula" placeholder="1234567890">
            </div>
            <div  *ngIf="(_cedula)" class="col-12">                                       
                <small>Este valor de cédula ha sido registrado previamente</small>                            
            </div>
            <div *ngIf="form.get('cedula')?.errors && form.get('cedula')?.dirty" class="col-12">
                <small *ngIf="form.get('cedula')?.hasError('required')">Este campo es requerido</small>
                <small *ngIf="form.get('cedula')?.hasError('min')">Valor mínimo debe ser 0</small>
                <small *ngIf="form.get('cedula')?.hasError('max')">Valor máximo debe ser 9999999999</small>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Correo
                <input type="email" formControlName="email" id="email" placeholder="example@ex.com">                                               
            </div>
            <div  *ngIf="(_email)" class="col-12">                                       
                <small>Este valor de email ha sido registrado previamente</small>                            
            </div>
            <div *ngIf="form.get('email')?.errors && form.get('email')?.dirty" class="col-12">
                <small *ngIf="form.get('email')?.hasError('required')">Este campo es requerido</small>                
                <small *ngIf="form.get('email')?.hasError('email')">Por favor ingrese un formato válido de correo</small>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Teléfono
                <input type="number" formControlName="phone" id="phone" placeholder="5555555">
            </div>
            <div *ngIf="form.get('phone')?.errors && form.get('phone')?.dirty" class="col-12">
                <small *ngIf="form.get('phone')?.hasError('required')">Este campo es requerido</small>
                <small *ngIf="form.get('phone')?.hasError('min')">Valor mínimo debe ser 1111111</small>
                <small *ngIf="form.get('phone')?.hasError('max')">Valor máximo debe ser 9999999999</small>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" [disabled]="form.invalid">Enviar Datos</button>
            </div>
        </div>
    </form>
</div>